
<html>
<body>

{% load staticfiles %}
{% load polymerdep %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'materialdjango/components/bower_components/webcomponentsjs/webcomponents-lite.js' %}"></script>

  {{ "polymer/polymer.html"| dep }}
  {{ "paper-input/paper-input.html" | dep }}
<div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"><b style="color: #22441e;">MONGOLOGIN! <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></b></div>

                    </div>
                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>


                        <hr>

                        <form action="" class="form-horizontal" role="form" method = "post">
                            {% csrf_token %}
                            <center><h2>SIGN - IN <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> </h2></center>
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="user" type="text" class="form-control" name="user" value="" placeholder="username or email">
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="pass" placeholder="password">
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button type= "submit" id="btn-login" name="submit"  class="btn btn-success">Login  </button>
                                        {% if check == True %}
                                        <h1><b> inputs incorrect.</b></h1>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account?
                                            {% csrf_token %}
                                        <a href="{% url 'signup' %}"> Sign Up Here! </a>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
        </div>
    </div>
</body>
</html>